.join_circle_main_wrap{
    height: auto;
}

.like_circle_wrap{
    position: absolute;
    top: 620px;
    left: -500px;
    width: 212px;
    background: #FEFEFE;
    border-radius: 30px;
    cursor: pointer;
}

.like_circle_wrap:hover>ul>li>ul{
   display: block;
}

.like_circle_wrap>ul>li>ul{
    display: none;
    transition: all 0.3s;
}

.like_circle_wrap ul>li{
    padding: 18px;
    color: #222222;
    position: relative;
}

.like_circle_wrap>ul>li>ul>li{
   padding-bottom: 0; 
}

.like_circle_wrap>ul>li>ul>li>img{
    width: 16px;
    position: absolute;
    right: 0;
}

.join_circle_main_cont{
    width: 100%;
    margin: 0 auto;
}

.main_image_wrap{
    height: 200px;
    background: #808080;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.main_image_wrap .main_filter{
    background: #444444;
    opacity: 70%;
    z-index: 3;
    width: 100%;
    height: 200px;
    position: absolute;
}

.main_image_wrap .logo_meaning{
    z-index: 5;
}

.category_wrap{
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

 .category_top{
   margin-right: 35px;
   margin-bottom: 10px;
   border-radius: 30px;
}

.category_top button{
    padding: 13px 26px;
    box-sizing: border-box;
    border-radius: 30px;
    font-size: 20px;
    color: #000;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.box_shadow{
    box-shadow: 1px 1px 10px rgba(226, 226, 226, 0.8) !important;
}

.category_top:nth-of-type(4n+1){
    background: #796BD8;
}

.category_top:nth-of-type(4n+2){
    background: #D0FD5E;
}

.category_top:nth-of-type(4n+3){
    background: #F9F9F9;
}

.category_top:nth-of-type(4n+4){
    background: #B87EEE;
}

.main_circle_field{
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #E9E9E9;
    border-radius: 30px;
    text-align: center;
    margin-bottom: 30px;
}

.main_circle_field h3,.all_circle_field h3{
    font-size: 20px;
    font-weight: 600;
    padding: 10px 0;
    box-sizing: border-box;
    color: #F9F9F9;
    text-align: center;
}

.join_circle_main_wrap h4{
    font-size: 18px;
    height: 22px;
}

.main_circle_cont{
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main_circle_cont>div{
    padding: 20px;
    width: 22%;
    box-sizing: border-box;
    border-radius: 20px;
    color: #222222;
    position: relative;
    margin-bottom: 20px;
}

.main_circle_cont>div:nth-of-type(4n+1){
    background: #B87EEE;
}

.main_circle_cont>div:nth-of-type(4n+2){
    background: #796BD8;
}

.main_circle_cont>div:nth-of-type(4n+3){
    background: #F9F9F9;
}

.main_circle_cont>div:nth-of-type(4n+4){
    background: #D0FD5E;
}

.like_circle{
    width: 20px;
    border: none;
    background: none;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.main_circle_cont>div>div>p{
    height: 20px;
}

.circle_intro{
    margin: 10px 0 !important;
    font-size: 16px;
}

.people_num img{
    width: 24px;
    margin: 0 10px 0 0;
}

.main_circle_cont>div:nth-child(even)>div:nth-child(4n+1){
    background: #F9F9F9;
}

.main_circle_cont>div:nth-child(even)>div:nth-child(4n+2){
    background: #D0FD5E;
}

.main_circle_cont>div:nth-child(even)>div:nth-child(4n+3){
    background: #B87EEE;
}

.main_circle_cont>div:nth-child(even)>div:nth-child(4n+4){
    background: #796BD8;
}

.people_num{
    display: flex;
    align-items: center;
    font-size: 14px;
    margin: 0 0 20px;
}

.all_circle_field{
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #E9E9E9;
    border-radius: 30px;
    text-align: center;
    margin-bottom: 30px;
}

.all_circle_cont>div{
    padding: 20px;
    width: 22%;
    box-sizing: border-box;
    border-radius: 20px;
    color: #222222;
    position: relative;
    margin-bottom: 20px;
}

.all_circle_cont{
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.all_circle_cont>div:nth-of-type(4n+1){
    background: #F9F9F9;
}

.all_circle_cont>div:nth-of-type(4n+2){
    background: #D0FD5E;
}

.all_circle_cont>div:nth-of-type(4n+3){
    background: #B87EEE;
}

.all_circle_cont>div:nth-of-type(4n+4){
    background: #796BD8;
}

.join_circle_main section>div{
    padding: 0 !important;
}

.category_wrap .active{
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}