.sub_main{
    padding: 40px 40px 80px;
    box-sizing: border-box;
}

.join_circle_wrap{
    position: relative;
}

.join_circle_wrap>div{
    display: flex;
    margin-bottom: 40px;
    color: #222222;
    border-radius: 30px;
}

section{
    border-radius: 30px;
}

section>div{
    padding: 40px;
    box-sizing: border-box;
    color: #222222;
}

.join_circle_wrap>h2{
    margin-bottom: 30px;
    font-size: 32px;
}

.join_circle_wrap>h2>button{
   margin-left: 10px;
}

.join_circle_cont1{
    align-items: center;
}

.intro{
    width: 62%;
    border-radius: 30px;
    background: #796BD8;
    margin-right: 40px;
}

.tag_wrap{
    margin: 30px 0;
}

.tag_wrap>div{
    margin-right: 10px;
}

.category_tag{
    background: #fefefe;
    border-radius: 30px;
    padding: 7px 17px;
    box-sizing: border-box;
    display: inline-block;
}

.charateristic_tag{
    background: #222222;
    color: #fefefe;
    border-radius: 30px;
    padding: 7px 17px;
    box-sizing: border-box;
    display: inline-block;
}

.btn_wrap{
    width: 38%;
    /* padding: 40px; */
    box-sizing: border-box;
}

.btn_wrap button{
    text-align: center;
    padding: 20px 0;
    width: 100%;
    box-sizing: border-box;
    background: #000000;
    border: 2px solid #fefefe;
    border-radius: 50px;
    color: #fefefe;
    font-size: 28px;
    font-weight: 600;
    transition: all 0.3s;
}

.btn_wrap button:hover{
    background: #fefefe;
    color: #000;
}

.btn_wrap .join_btn{
    margin-bottom: 40px;
}

.btn_wrap .join_btn span{
    margin-left: 10px;
}

.btn_wrap .inquiry_btn span{
    margin-left: 20px;
}

.community_preview{
    background: #B87EEE;
    width: 60%;
    margin-right: 40px;
}

.community_preview_cont{
    position: relative;
}

.go_community{
    width: 200px;
    height: 50px;
    background: #222222;
    border-radius: 15px;
    color: #fefefe;
    position: absolute;
    top: 220px;
    left: 260px;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.filter{
    margin: auto;
    width: 100%;
    height: 200px;
    position: absolute;
    z-index: 10;
    top: 195px;
    left: 0;
    backdrop-filter: blur(5px);
    filter: blur(5px);
    /* background: linear-gradient(to bottom, rgba(0,0,0,0.1)); */
}

.slick-slider .slick-track, .slick-slider .slick-list{
    height: 300px;
}

.community_preview_cont h3{
    margin-bottom: 30px;
}

.profile_prev{
    display: flex !important;
    margin-bottom: 200px;
}

.profile_prev img{
    width: 70px;
    height: 70px;
    background: #666666;
    border-radius: 50px;
    margin-right: 10px;
}

.profile_prev dl{
    width: 560px;
}

.profile_prev dt{
    font-size: 20px;
    margin-bottom: 10px;
}

.profile_prev dt .time{
    color: #5E5959;
    margin-left: 10px;
}

.profile_prev dd{
    font-size: 20px;
}

.slick-prev:before,.slick-next:before{
    display: none;
}

.slick-dots{
    position: static !important; 
}

section>div>h3{
    display: flex;
    align-items: center;
    font-size: 28px;
}

section>div>h3>img{
    margin-right: 10px;
}

.activity{
    width: 38%;
    background: #F9F9F9;
}

.activity_cont h3{
    margin-bottom: 20px;
}

.activ_box:first-of-type{
    padding-top: 0;
}

.activ_box:last-of-type{
    padding-bottom: 0;
}

.activ_box{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 20px 0;
    box-sizing: border-box;
    border-bottom: 1px solid #d3d3d3;
}

.activ_box:last-child{
    border: none;
}

.activ_box img{
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background: #D9D9D9;
}

.activ_box ul li:last-child{
    font-size: 12px;
    color: #666666;
}

.jc_notification{
    background: #D0FD5E;
    height: 300px;
    width: 60%;
    margin-right: 40px;
}

.schedule{
    background: #F9F9F9;
    height: 300px;
    overflow: hidden;
}

.people{
    width: 100%;
    background: #F9F9F9;
    height: 810px;
}

.p_container{
    display: flex;
    flex-wrap: wrap;
}

.people_box{
    margin-bottom: 40px;
    margin-right: 80px;
}

.people h3{
    margin-bottom: 40px;
}

.p_name{
    font-size: 20px;
    font-weight: bold;
    margin: 15px 0;
}

.p_lang{
    margin-bottom: 5px;
}

.people_box>img{
    width: 200px;
    height: 200px;
    border-radius: 20px;
    background: #D9D9D9;
}