.sub_main{
    padding: 40px 40px 80px;
    box-sizing: border-box;
}

.joined_circle_wrap{
    position: relative;
}

.joined_circle_wrap>div{
    color: #222222;
    border-radius: 30px;
}

section{
    width: 100%;
    border-radius: 30px;
    margin-bottom: 40px;
}

section>div{
    padding: 40px;
    box-sizing: border-box;
    color: #222222;
}

.joined_circle_wrap>h2{
    margin-bottom: 30px;
    font-size: 32px;
}

.joined_circle_wrap h3{
    display: flex;
    align-items: center;
    font-size: 28px;
    margin-bottom: 30px;
}

.joined_circle_wrap h3>img{
    margin-right: 10px;
}

.joined_circle_wrap .intro{
    background: #796BD8;
    height: 260px;
}

.tag_wrap{
    margin: 30px 0;
}

.tag_wrap>div{
    margin-right: 10px;
    cursor: default;
}

.category_tag{
    background: #fefefe;
    border-radius: 30px;
    padding: 7px 17px;
    box-sizing: border-box;
    display: inline-block;
}

.charateristic_tag{
    background: #222222;
    color: #fefefe;
    border-radius: 30px;
    padding: 7px 17px;
    box-sizing: border-box;
    display: inline-block;
}

.joined_circle_wrap .schedule{
    background: #fefefe;
}

.joined_circle_wrap .notification{
    background: #D0FD5E;
    height: 390px;
}

.joined_circle_wrap .feed{
    background: #FEFEFE;
}

.sns_top{
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 30px;
}

.feed_write{
    position: absolute;
    right: 40px;
    top: 40px;
}

.feed_cont{
    position: relative;
}

.sns_top h4{
    font-size: 24px;
    font-weight: bold;
}

.profile_img{
    width: 78px;
    height: 78px;
    background: #000;
    border-radius: 50px;
    margin-right: 10px;
}

.follow{
    width: 188px;
    height: 78px;
    font-weight: bold;
    border-radius: 50px;
    background: #000;
    color: #FEFEFE;
    font-size: 24px;
    margin-right: 20px;
}

 .fw_clicked{
    background: #FEFEFE;
    border: 2px solid #000;
    color: #000;
}

.sns_more img{
    width: 40px;
    height: 40px;
}

.popup_wrap{
    position: absolute;
    left: 11%;
    width: 900px;
    padding: 20px;
    border-radius: 20px;
    background: #f9f9f9;
    font-size: 48px;
    text-align: center;
}

.popup_wrap button{
    position: absolute;
    top: 20px;
    right: 20px;
}

.popup_wrap button img{
    width: 40px;
    height: 40px;
}

.popup_wrap p{
    padding: 30px;
    cursor: pointer;
    transition: all 0.2s;
}

.popup_wrap p:hover{
    font-weight: bold;
}

.popup_wrap p:first-of-type{
    border-bottom: 1px solid #777777;
}

.top_btn_wrap{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
}

.sns_img{
    width: 100%;
    height: 965px;
    background: #000;
    margin-bottom: 30px;
}

.sns_like{
    margin-right: 20px;
}

.sns_like img{
    width: 40px;
    height: 40px;
}

.comm_align{
    display: flex;
    text-align: center;
}

.comm_like{
    margin-left: 10px;
}