.sub_main{
    padding: 40px 40px 80px;
    box-sizing: border-box;
}

.profile_wrap h2{
    margin-bottom: 30px;
    font-size: 32px;
    color: #fefefe;
}

.profile_cont{
    background: #fefefe;
    height: auto;
    border-radius: 30px;
    padding: 40px;
    box-sizing: border-box;
}

.profile_top{
    position: relative;
    margin-bottom: 40px;
}

.profile_img{
    width: 149px;
    height: 149px;
    border-radius: 50%;
    background: #D9D9D9;
}

.profile_top .camera_icon{
    width: 40px;
    height: 40px;
    background: #000;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: 100px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile_top_btn{
    display: flex;
    position: absolute;
    bottom: 50px;
    left: 200px;
}

.profile_top_btn button{
    width: 98px;
    height: 32px;
    border-radius: 30px;
    background: #000;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.profile_top_btn button img{
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

.profile_input{
    margin-bottom: 20px;
}

.profile_input .error{
    font-size: 14px;
    color: red;
}

.profile_input>div{
    display: flex;
    margin-bottom: 40px;
}

.profile_input label{
    margin-right: 40px;
}

.profile_input span{
    display: block;
    color: #796BD8;
    margin-bottom: 10px;
}

.profile_input p{
    color: #888888;
}

.profile_input input{
    padding: 15px;
    box-sizing: border-box;
    width: 300px;
    border: 1px solid #BEBEBE;
    border-radius: 30px;
    font-size: 16px;
}

.profile_input .select{
    padding: 5px;
    width: 400px;
    border-radius: 30px;
    border: 1px solid #BEBEBE;
    font-size: 16px;
    color: #888888;
}

.css-13cymwt-control{
    border: none !important;
    background: none !important;
}

.css-t3ipsp-control{
    box-shadow: none !important;
    border: none !important;
    border-radius: 30px !important;
    background: none !important;
}

.css-9jq23d{
    font-size: 16px !important;
}

.profile_bottom_03 span{
    font-size: 16px;
    color: #796BD8;
}

.profile_bottom_04{
    width: 100%;
}

.profile_input .profile_bottom_04>label{
    width: 100%;
    margin: 0;
}

.profile_input .profile_bottom_04>label input{
    width: 100%;
}

@media screen and (max-width: 767px){
    .profile_img{
        width: 90px;
        height: 90px;
    }

    .profile_top .camera_icon{
        left: 60px;
    }

    .profile_top_btn{
        right: 50px;
        top: 10px;
        display: block;
    }

    .profile_top_btn button{
        margin-bottom: 10px;
    }
    

    .profile_input>div{
        display: block;
        margin-bottom: 0;
    }

    .profile_input input{
        margin-bottom: 20px;
    }

    .profile_input .select{
        width: 300px;
    }

    .profile_bottom_04{
        margin-bottom: 0 !important;
    }
}

