.sub_main{
    padding: 40px 40px 80px;
    box-sizing: border-box;
}

.sign_up_wrap h2{
    margin-bottom: 30px;
    font-size: 32px;
    color: #fefefe;
}

.sign_up_cont{
    background: #fefefe;
    height: auto;
    border-radius: 30px;
    padding: 40px;
    box-sizing: border-box;
    margin: 0 auto;
}

.sign_up_cont h3{
    color: #000000;
    text-align: center;
}

.sign_up_cont h3+p{
    text-align: center;
    margin-bottom: 40px;
}

.account_method div{
    text-align: center;
}

.sign_up_cont form{
    width: 400px;
    margin: 0 auto;
}

.sign_up_cont form>div{
    margin-bottom: 20px;
}

.sign_up_cont form p{
    color: #5E5959;
    font-size: 14px;
}

.sign_up_cont form label{
    color: #5E5959;
}

.sign_up_cont form input{
    width: 100%;
    padding: 0 10px;
    height: 45px;
    border-radius: 30px;
    border: none;
    box-sizing: border-box;
    margin: 10px 0;
    outline: 2px solid #BEBEBE;
}

.sign_up_cont form input:focus{
    outline: 2px solid #000;
}

.sign_up_cont form .w_237{
    width: 237px;
}

 .d_flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
 }

 .sign_up_cont form .d_flex input{
    margin: 0;
 }

.duplicate_btn{
    width: 152px;
    height: 45px;
    border-radius: 30px;
    background: #000;
    color: #fefefe;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.sign_up_caution{
    font-size: 12px;
    color: #796BD8;
    margin: 10px 0;
}

.align_center{
    display: flex;
    align-content: center;
}

.visibility_btn{
    width: 15px;
    margin-left: 5px;
    cursor: pointer;
}

.sign_up_cont .sign_up_btn{
    width: 100%;
    background: #000;
    border-radius: 30px;
    box-sizing: border-box;
    height: 45px;
    color: #fefefe;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0 30px;
}

.sign_in_back{
    text-align: center;
}

.sign_in_back span{
    color: #796BD8;
    font-weight: bold;
}

.sign_in_back span:hover{
    text-decoration: underline;
    cursor: pointer;
}

#form_sign_up .error{
    margin-top: 0;
    color: red;
    text-align: center;
}

@media screen and (max-width: 767px){
    .sign_up_cont form{
        width: auto;
    }

    .d_flex{
        display: block;
    }

    .sign_up_cont form .w_237{
        width: 100%;
    }

    .duplicate_btn{
        width: 100%;
        margin-top: 10px;
    }
}