.sub_main{
    padding: 40px 40px 80px;
    box-sizing: border-box;
}

.sign_in_wrap h2{
    margin-bottom: 30px;
    font-size: 32px;
    color: #fefefe;
}

.sign_in_cont{
    background: #fefefe;
    height: auto;
    border-radius: 30px;
    padding: 40px;
    box-sizing: border-box;
    text-align: center;
}

.sign_in_cont h3{
    color: #000000;
}

.sign_in_cont .account{
    color: #444444;
    font-size: 14px;
}

.sign_in_cont form{
    width: 400px;
    margin: 0 auto;
}

.sign_in_cont input{
    width: 400px;
    height: 50px;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 30px;
    border: none;
    outline: 2px solid #BEBEBE;
    margin: 10px 0;
}

.sign_in_cont input:focus{
    outline: 2px solid #000;
    box-sizing: border-box;
}

.sign_in_cont .sign_in_btn{
    width: 400px;
    height: 50px;
    border-radius: 30px;
    background: #000;
    color: #fefefe;
    font-size: 16px;
    margin-bottom: 30px;
    font-weight: bold;
    cursor: pointer;
}

.account_method{
   position: relative;
    margin-bottom: 40px;
}

.account_method p{
    width: 133px;
    color: #5E5959;
    font-size: 14px;
    background: #fefefe;
    margin: 0 auto;
}

.account_method div{
    width: 100%;
   position: absolute;
   top: -10px;
}

.resigister_go{
    color: #5E5959;
    font-size: 14px;
}

.resigister_go span{
    color: #796BD8;
    font-weight: bold;
}

.resigister_go span:hover{
    text-decoration: underline;
    cursor: pointer;
}

.sign_in_type{
    display: flex;
    width: 180px;
    margin: 0 auto;
    justify-content: space-between;
    margin-bottom: 30px;
}

.login_btn{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #000;
    cursor: pointer;
}

.sign_in_wrap .error{
    color: red;
    font-size: 14px;
}

.sign_in_wrap .label{
    text-align: left;
    color: #888282;
    font-size: 16px;
    margin-bottom: 10px;
}

@media screen and (max-width: 767px){
    .sign_in_cont form{
        width: auto;
    }

    label{
        font-size: 14px !important;
    }

    .sign_in_cont input{
        width: 100%;
    }

    .sign_in_cont .sign_in_btn{
        width: 290px;
        margin-top: 20px;
    }
}